In [2]:
import pandas as pd
import numpy as np

# from sklearn.datasets import load_wine
# from sklearn.datasets import load_boston

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/weight-height.csv')

# какие типы признаков в нашем датафрейме?
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [ ]:
# переведем в килограммы и сантиметры
df['Height'] = df['Height'] * 2.54
df['Weight'] = df['Weight'] * 0.45
df.head()

  Gender      Height      Weight
0   Male  187.571423  108.852103
1   Male  174.706036   73.039713
2   Male  188.239668   95.733385
3   Male  182.196685   99.019112
4   Male  177.499761   92.857410

In [ ]:
# нужный датасет встроен в библиотеку sklearn
wine = load_wine()

In [ ]:
print(wine.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [ ]:
# загружаем данные в датафрейм
df2 = pd.DataFrame(wine.data, columns=wine.feature_names)

In [ ]:
df2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [ ]:
# нужный датасет встроен в библиотеку sklearn
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [ ]:
# загружаем данные в датафрейм
df3 = pd.DataFrame(boston.data, columns=boston.feature_names)

In [ ]:
df3.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

## Минимум, максимум и размах

### Первый датасет

In [ ]:
print(max(df['Height']))
print(np.max(df['Height']))
print(df['Height'].max())

200.6568055598296
200.6568055598296
200.6568055598296

In [ ]:
print(min(df['Height']))
print(np.min(df['Height']))
print(df['Height'].min())

137.82835864574665
137.82835864574665
137.82835864574665

In [ ]:
print(max(df['Weight']))
print(np.max(df['Weight']))
print(df['Weight'].max())

121.4953643272977
121.4953643272977
121.4953643272977

In [ ]:
print(min(df['Weight']))
print(np.min(df['Weight']))
print(df['Weight'].min())

29.115057020738853
29.115057020738853
29.115057020738853

In [ ]:
# смотрим на запись, в которой вес - минимальный
df[df['Weight'] == df['Weight'].min()]

      Gender      Height     Weight
9285  Female  137.828359  29.115057

In [ ]:
# смотрим на запись, в которой вес - максимальный
df[df['Weight'] == df['Weight'].max()]

     Gender      Height      Weight
2014   Male  200.656806  121.495364

In [ ]:
# смотрим на запись, в которой рост - максимальный
df[df['Height'] == df['Height'].max()]

     Gender      Height      Weight
2014   Male  200.656806  121.495364

In [ ]:
# смотрим на запись, в которой рост - минимальный
df[df['Height'] == df['Height'].min()]

      Gender      Height     Weight
9285  Female  137.828359  29.115057

In [ ]:
# размах – разница между минимальным и максимальным значением
weight_range = df['Weight'].max() - df['Weight'].min()
height_range = df['Height'].max() - df['Height'].min()
print(height_range)
print(weight_range)

62.828446914082946
92.38030730655885

### Второй датасет с вином

In [ ]:
df2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [ ]:
print(max(df2['alcohol']))
print(np.max(df2['alcohol']))
print(df2['alcohol'].max())

14.83
14.83
14.83

In [ ]:
print(min(df2['alcohol']))
print(np.min(df2['alcohol']))
print(df2['alcohol'].min())

11.03
11.03
11.03

In [ ]:
print(max(df2['malic_acid']))
print(np.max(df2['malic_acid']))
print(df2['malic_acid'].max())

5.8
5.8
5.8

In [ ]:
print(min(df2['malic_acid']))
print(np.min(df2['malic_acid']))
print(df2['malic_acid'].min())

0.74
0.74
0.74

In [ ]:
#смотрим на запись, где содержание алкоголя минимальное
df2[df2['alcohol'] == df2['alcohol'].min()]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
115,11.03,1.51,2.2,21.5,85.0,2.46,2.17,0.52,2.01,1.9,1.71,2.87,407.0

In [ ]:
#смотрим на запись, где содержание алкоголя максимальное
df2[df2['alcohol'] == df2['alcohol'].max()]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
8,14.83,1.64,2.17,14.0,97.0,2.8,2.98,0.29,1.98,5.2,1.08,2.85,1045.0

In [ ]:
# размах – разница между минимальным и максимальным значением
alco_range = df2['alcohol'].max() - df2['alcohol'].min()
acid_range = df2['malic_acid'].max() - df2['malic_acid'].min()
print(alco_range)
print(acid_range)

3.8000000000000007
5.06

### Третий датасет с недвижимостью

In [ ]:
df3.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
print(max(df3['CRIM']))
print(np.max(df3['CRIM']))
print(df3['CRIM'].max())

88.9762
88.9762
88.9762

In [ ]:
print(min(df3['CRIM']))
print(np.min(df3['CRIM']))
print(df3['CRIM'].min())

0.00632
0.00632
0.00632

In [ ]:
print(max(df3['AGE']))
print(np.max(df3['AGE']))
print(df3['AGE'].max())

100.0
100.0
100.0

In [ ]:
print(min(df3['AGE']))
print(np.min(df3['AGE']))
print(df3['AGE'].min())

2.9
2.9
2.9

In [ ]:
# смотрим на запись, в которой возраст - минимальный
df3[df3['AGE'] == df3['AGE'].min()]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
41,0.12744,0.0,6.91,0.0,0.448,6.77,2.9,5.7209,3.0,233.0,17.9,385.41,4.84

In [ ]:
# смотрим на записи, в которой возраст - максимальный
df3[df3['AGE'] == df3['AGE'].max()]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
23,0.98843,0.0,8.14,0.0,0.538,5.813,100.0,4.0952,4.0,307.0,21.0,394.54,19.88
31,1.35472,0.0,8.14,0.0,0.538,6.072,100.0,4.1750,4.0,307.0,21.0,376.73,13.04
141,1.62864,0.0,21.89,0.0,0.624,5.019,100.0,1.4394,4.0,437.0,21.2,396.90,34.41
142,3.32105,0.0,19.58,1.0,0.871,5.403,100.0,1.3216,5.0,403.0,14.7,396.90,26.82
143,4.09740,0.0,19.58,0.0,0.871,5.468,100.0,1.4118,5.0,403.0,14.7,396.90,26.42
145,2.37934,0.0,19.58,0.0,0.871,6.130,100.0,1.4191,5.0,403.0,14.7,172.91,27.80
146,2.15505,0.0,19.58,0.0,0.871,5.628,100.0,1.5166,5.0,403.0,14.7,169.27,16.65
151,1.49632,0.0,19.58,0.0,0.871,5.404,100.0,1.5916,5.0,403.0,14.7,341.60,13.28
158,1.34284,0.0,19.58,0.0,0.605,6.066,100.0,1.7573,5.0,403.0,14.7,353.89,6.43
159,1.42502,0.0,19.58,0.0,0.871,6.510,100.0,1.7659,5.0,403.0,14.7,364.31,7.39
209,0.43571,0.0,10.59,1.0,0.489,5.344,100.0,3.8750,4.0,277.0,18.6,396.90,23.09
258,0.66351,20.0,3.97,0.0,0.647,7.333,100.0,1.8946,5.0,264.0,13.0,383.29,7.79
259,0.65665,20.0,3.97,0.0,0.647,6.842,100.0,2.0107,5.0,264.0,13.0,391.93,6.90
367,13.52220,0.0,18.10,0.0,0.631,3.863,100.0,1.5106,24.0,666.0,20.2,131.42,13.33
368,4.89822,0.0,18.10,0.0,0.631,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26
371,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53
373,11.10810,0.0,18.10,0.0,0.668,4.906,100.0,1.1742,24.0,666.0,20.2,396.90,34.77
374,18.49820,0.0,18.10,0.0,0.668,4.138,100.0,1.1370,24.0,666.0,20.2,396.90,37.97
379,17.86670,0.0,18.10,0.0,0.671,6.223,100.0,1.3861,24.0,666.0,20.2,393.74,21.78
382,9.18702,0.0,18.10,0.0,0.700,5.536,100.0,1.5804,24.0,666.0,20.2,396.90,23.60
383,7.99248,0.0,18.10,0.0,0.700,5.520,100.0,1.5331,24.0,666.0,20.2,396.90,24.56
386,24.39380,0.0,18.10,0.0,0.700,4.652,100.0,1.4672,24.0,666.0,20.2,396.90,28.28
388,14.33370,0.0,18.10,0.0,0.700,4.880,100.0,1.5895,24.0,666.0,20.2,372.92,30.62
398,38.35180,0.0,18.10,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
400,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
401,14.23620,0.0,18.10,0.0,0.693,6.343,100.0,1.5741,24.0,666.0,20.2,396.90,20.32
402,9.59571,0.0,18.10,0.0,0.693,6.404,100.0,1.6390,24.0,666.0,20.2,376.11,20.31
405,67.92080,0.0,18.10,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
406,20.71620,0.0,18.10,0.0,0.659,4.138,100.0,1.1781,24.0,666.0,20.2,370.22,23.34
407,11.95110,0.0,18.10,0.0,0.659,5.608,100.0,1.2852,24.0,666.0,20.2,332.09,12.13
409,14.43830,0.0,18.10,0.0,0.597,6.852,100.0,1.4655,24.0,666.0,20.2,179.36,19.78
410,51.13580,0.0,18.10,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
411,14.05070,0.0,18.10,0.0,0.597,6.657,100.0,1.5275,24.0,666.0,20.2,35.05,21.22
412,18.81100,0.0,18.10,0.0,0.597,4.628,100.0,1.5539,24.0,666.0,20.2,28.79,34.37
413,28.65580,0.0,18.10,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
414,45.74610,0.0,18.10,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
415,18.08460,0.0,18.10,0.0,0.679,6.434,100.0,1.8347,24.0,666.0,20.2,27.25,29.05
418,73.53410,0.0,18.10,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
420,11.08740,0.0,18.10,0.0,0.718,6.411,100.0,1.8589,24.0,666.0,20.2,318.75,15.02
437,15.17720,0.0,18.10,0.0,0.740,6.152,100.0,1.9142,24.0,666.0,20.2,9.32,26.45
442,5.66637,0.0,18.10,0.0,0.740,6.219,100.0,2.0048,24.0,666.0,20.2,395.69,16.59
443,9.96654,0.0,18.10,0.0,0.740,6.485,100.0,1.9784,24.0,666.0,20.2,386.73,18.85

In [ ]:
# смотрим на запись, в которой уровень преступности района - максимальный
df3[df3['CRIM'] == df3['CRIM'].max()]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.9,17.21

In [ ]:
# смотрим на запись, в которой уровень преступности района - минимальный
df3[df3['CRIM'] == df3['CRIM'].min()]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98

In [ ]:
# размах – разница между минимальным и максимальным значением
age_range = df3['AGE'].max() - df3['AGE'].min()
crime_range = df3['CRIM'].max() - df3['CRIM'].min()
print(age_range)
print(crime_range)

97.1
88.96988

## Среднеарифметическое

### Первый датасет

In [ ]:
# ручной подсчет
sum(df['Weight']) / len(df['Weight'])

72.64816057477415

In [ ]:
print(np.mean(df['Weight']))
print(df['Weight'].mean())

72.64816057477385
72.64816057477385

### Второй датасет с вином

In [ ]:
# ручной подсчет
sum(df2['alcohol']) / len(df2['alcohol'])

13.000617977528083

In [ ]:
print(np.mean(df2['alcohol']))
print(df2['alcohol'].mean())

13.00061797752809
13.00061797752809

### Третий датасет с недвижимостью

In [ ]:
# ручной подсчет
sum(df3['AGE']) / len(df3['AGE'])

68.57490118577078

In [ ]:
print(np.mean(df3['AGE']))
print(df3['AGE'].mean())

68.57490118577076
68.57490118577076

## Мода

In [ ]:
# Создаём пустой словарь, в котором будем считать количество появлений значений веса
weight_counts = {}
for w in df['Weight'].round():
    if w not in weight_counts:
        weight_counts[w] = 1
    else:
        weight_counts[w] += 1

# Проходимся по словарю и ищем максимальное количество повторений
# Алгоритм поиска максимума
maxw = 0
mode_weight = None
for k, v in weight_counts.items():
    if maxw < v:
        maxw = v
        mode_weight = k
print('Значение моды:', mode_weight, 'количество встречаемости:', maxw)

Значение моды: 62.0 количество встречаемости: 269

In [ ]:
print('Значение моды: ', df['Weight'].mode()[0])

Значение моды:  29.115057020738853

### Датасет с вином

In [ ]:
# Добавим код, который разработали выше - в функцию. Оставляем все на своих местах, кроме изменяемого аргумента - его выносим во вводимый параметр.

def mode_custom(frame_col):
  weight_counts = {}
  for w in frame_col.round():
      if w not in weight_counts:
          weight_counts[w] = 1
      else:
          weight_counts[w] += 1

  maxw = 0
  mode_weight = None
  for k, v in weight_counts.items():
      if maxw < v:
          maxw = v
          mode_weight = k
  print('Значение моды:', mode_weight, 'количество встречаемости:', maxw)
  return mode_weight, maxw

In [ ]:
# Проверяем на исходных данных, что все работает так, как и работало
mode_custom(df['Weight'])

Значение моды: 62.0 количество встречаемости: 269

(62.0, 269)

In [ ]:
# Теперь подставляем данные из датасета с вином
mode_custom(df2['alcohol'])

Значение моды: 13.0 количество встречаемости: 64

(13.0, 64)

In [ ]:
print('Значение моды: ', df2['alcohol'].mode()[0])

# Заметим, что тут мы уже обращаемся к встроенной в питон функции вычисления моды, а не написанной нами самими по определению моды

Значение моды:  12.37

### Датасет с недвижимостью

In [ ]:
mode_custom(df3['AGE'])

Значение моды: 100.0 количество встречаемости: 43

(100.0, 43)

In [ ]:
print('Значение моды: ', df3['AGE'].mode()[0])

Значение моды:  100.0

## Медиана

In [ ]:
# ручной подсчет
height = df['Height']

# Находим  количество значений
num_height = len(df['Height'])

# Сортируем в порядке возрастания
sorted_height = sorted(height)

# Ищем индекс среднего элемента
# если количество элементов четное, то берем среднее двух элементов в середине
middle = (num_height // 2)
if num_height % 2 == 0:
    result = (sorted_height[middle-1] + sorted_height[middle])/2
else:
    result = sorted_height[middle]
# Находим медиану
print('Медиана: ', result)

Медиана:  168.447898007733

In [ ]:
print(df['Height'].median())
print(np.median(df['Height']))

168.447898007733
168.447898007733

In [ ]:
# То же самое, заворачиваем в функцию написанный код

def custom_median(frame_col):
  # ручной подсчет
  height = frame_col

  # Находим  количество значений
  num_height = len(frame_col)

  # Сортируем в порядке возрастания
  sorted_height = sorted(height)

  # Ищем индекс среднего элемента
  # если количество элементов четное, то берем среднее двух элементов в середине
  middle = (num_height // 2)
  if num_height % 2 == 0:
      result = (sorted_height[middle-1] + sorted_height[middle])/2
  else:
      result = sorted_height[middle]
  # Находим медиану
  print('Медиана: ', result)
  return result

In [ ]:
# Проверяем, что все работает так, как и работало

custom_median(df['Height'])

Медиана:  168.447898007733

168.447898007733

In [ ]:
# Теперь применяем функцию к датасету с вином

custom_median(df2['alcohol'])

Медиана:  13.05

13.05

In [ ]:
# Смотрим на медиану по алкоголю на основании встроенной функции

print(df2['alcohol'].median())
print(np.median(df2['alcohol']))

13.05
13.05

In [ ]:
# Теперь то же самое для возраста недвижимосити

custom_median(df3['AGE'])

Медиана:  77.5

77.5

In [ ]:
print(df3['AGE'].median())
print(np.median(df3['AGE']))

77.5
77.5

## СКО

In [ ]:
# ручной подсчет
def stdev(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums) / len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg) ** (2)
    # считаем корень среднеквадратичного значения
    return (diffs / (len(nums) - 1)) ** (0.5)

stdev(df['Height'])

9.772721426763994

In [ ]:
stdev(df['Weight'])

14.4487975529338

In [ ]:
print('Рост')
print(df['Height'].std())
print(np.std(df['Height'], ddof=1)) # дельта степеней свободы в numpy по умолчанию 0

print('Вес')
print(df['Weight'].std())
print(np.std(df['Weight'], ddof=1))

Рост
9.772721426764
9.772721426764
Вес
14.44879755293382
14.44879755293382

In [ ]:
stdev(df2['alcohol'])

0.8118265380058577

In [ ]:
print(df2['alcohol'].std())
print(np.std(df2['alcohol'], ddof=1))

0.8118265380058575
0.8118265380058575

In [ ]:
stdev(df3['CRIM'])

8.601545105332487

In [ ]:
print(df3['CRIM'].std())
print(np.std(df3['CRIM'], ddof=1))

8.60154510533249
8.60154510533249

## Дисперсия

In [ ]:
# ручной подсчет
def disp(nums):
    diffs = 0
    # считаем среднее значение
    avg = sum(nums)/len(nums)
    for n in nums:
        # считаем сумму квадратичных отклонений
        diffs += (n - avg)**(2)
    # считаем среднеквадратичного значения
    return diffs/(len(nums)-1)

print(disp(df['Height']))
print(disp(df['Weight']))

95.50608408513206
208.7677507256658

In [ ]:
print('Рост')
print(np.var(df['Height'], ddof=1))
print(df['Height'].var())

print('Вес')
print(np.var(df['Weight'], ddof=1))
print(df['Weight'].var())

Рост
95.50608408513222
95.50608408513222
Вес
208.76775072566633
208.76775072566633

In [ ]:
print(disp(df2['alcohol']))
print(disp(df2['malic_acid']))

0.6590623278105763
1.2480154034152227

In [ ]:
print('Алкоголь')
print(np.var(df2['alcohol'], ddof=1))
print(df2['alcohol'].var())

print('Кислота')
print(np.var(df2['malic_acid'], ddof=1))
print(df2['malic_acid'].var())

Алкоголь
0.6590623278105759
0.6590623278105759
Кислота
1.2480154034152224
1.2480154034152224

In [ ]:
print(disp(df3['CRIM']))
print(disp(df3['AGE']))

73.98657819906929
792.358398505069

In [ ]:
print('Уровень преступности')
print(np.var(df3['CRIM'], ddof=1))
print(df3['CRIM'].var())

print('Возраст недвижимости')
print(np.var(df3['AGE'], ddof=1))
print(df3['AGE'].var())

Уровень преступности
73.98657819906931
73.98657819906931
Возраст недвижимости
792.358398505068
792.358398505068

## Квантили

### Первый датасет

In [ ]:
# это же медиана!
df['Height'].quantile()

168.447898007733

In [ ]:
# первый и третий квартили
df['Height'].quantile([0.25, 0.75])

0.25    161.304276
0.75    175.702625
Name: Height, dtype: float64

In [ ]:
# произвольный перцентиль
df['Height'].quantile(0.33)

163.6892051899301

In [ ]:
# межквартильный размах
Q1 = df['Height'].quantile(0.25)
Q3 = df['Height'].quantile(0.75)
IQR = Q3 - Q1
IQR

14.398348763864021

### Второй датасет

In [ ]:
# опять медиана
df2['alcohol'].quantile()

13.05

In [ ]:
# первый и третий квартили
df2['alcohol'].quantile([0.25, 0.75])

0.25    12.3625
0.75    13.6775
Name: alcohol, dtype: float64

In [ ]:
# произвольный перцентиль
df2['alcohol'].quantile(0.42)

12.8134

In [ ]:
# межквартильный размах
Q1 = df2['alcohol'].quantile(0.25)
Q3 = df2['alcohol'].quantile(0.75)
IQR = Q3 - Q1
IQR

1.3150000000000013

### Третий датасет

In [ ]:
df3['AGE'].quantile()

77.5

In [ ]:
# первый и третий квартили
df3['AGE'].quantile([0.25, 0.75])

0.25    45.025
0.75    94.075
Name: AGE, dtype: float64

In [ ]:
# произвольный перцентиль
df3['AGE'].quantile(0.80)

95.6

In [ ]:
# межквартильный размах
Q1 = df3['AGE'].quantile(0.25)
Q3 = df3['AGE'].quantile(0.75)
IQR = Q3 - Q1
IQR

49.04999999999999

## Describe

In [ ]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean     168.573602     72.648161
std        9.772721     14.448798
min      137.828359     29.115057
25%      161.304276     61.118123
50%      168.447898     72.545817
75%      175.702625     84.226286
max      200.656806    121.495364

In [ ]:
df2.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [ ]:
df3.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000